@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
* 
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family : 'Agbalumo', sans-serif;
}
.header {
    background-color: rgb(235 212 249);
    overflow-x: hidden;
    width: 100%;
    height: 900px;
}
.navbar {
    background-color: dimgrey;
    padding: 38px 50px !important;
    border-radius: 0px 0px 20px 20px;
}
.navbar .collapse .btn {
        color: rgb(73 210 157);
        padding-left: 25px;
}
.navbar .collapse .form-control::placeholder{
    color: rgb(128, 128, 128, 0.65);
}
.container .content-home {
        padding: 130px 0px !important;
    }
.bottom-bar{
   width:50%;
  
}
.bottom-bar .bottom-bar__content .nav-link {
        color: rgb(73 210 157);
        
}
.img-home{
    width: 100%;
}

.container1 .overlay-text {
    padding-top: 100px;
    margin-left: 320px;
    padding-left: 430px;
    padding-bottom: 15px;
    color: rgb(175 100 237);
    
}
